.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
    .card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;